@media (min-width: 480px) {
<<<<<<< HEAD


header img{
  width:16rem;
}


=======
<<<<<<< HEAD
  .say_hello {
    display:block;
  }

  
=======
>>>>>>> 3d7ca06bc2f9fe4a65513f6b953bd8753890db5a
  .carousel {
    background: red;
    img {
      display: inline;
    }
  }
<<<<<<< HEAD

=======
>>>>>>> 9d1ee0b2feb1e48d40b19dfe46098f5b195b8784
>>>>>>> 3d7ca06bc2f9fe4a65513f6b953bd8753890db5a
}
