@media (min-width: 480px) {

// header stylings for desktop
header img{
  width:16rem;
}

<<<<<<< HEAD
=======
header h1{
  font-size: 3rem;
}

.say_hello {
  display:block;
}

>>>>>>> cf93664a1aa8d473ea02ccaa5064beca9b1fa362
  .carousel {
    background: red;
    img {
      display: inline;
    }
<<<<<<< HEAD

    .say_hello {
      display:block;
    }
  }
=======
  }
}
>>>>>>> cf93664a1aa8d473ea02ccaa5064beca9b1fa362
