@import 'variables', 'bourbon/bourbon', 'neat/neat', 'desktop';

.say_hello {
  display:none;
}

.contact {
  text-align: center;
  font-family: $primary_font;
  padding: 1rem;


  p:nth-child(2) {
    font-weight: bold;
    font-size: 1.3rem;
  }


  p:nth-child(3) {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

footer {
  text-align: center;
  font-family: Helvetica;
  // Please change this to our primary_color variable
  background-color: #92A477;
  padding: 2rem;
  font-size: 1.2rem;
}

body{
  font-family:$primary_font;
}
header {
  background: url("https://aroundausin96days.files.wordpress.com/2012/04/trees-low-res.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height:28rem;
  text-align: center;
  background-position-y: bottom;
}

header img{
width:12rem;
margin-top: 4rem;
-webkit-filter: invert(100%);
// This changes the color from black-white

}

h1{
  color:$white;
  text-align: center;
  font-family: $title_font;

}

.best{
  background: $primary_color;
  height:8rem;


  h3{
    margin-top: 0;
    text-align: center;
    padding-top: 2.5rem;
  }
}

.carousel {
  // background: red;
  // height: 300px;
  // overflow: hidden;
  // Removes image whitespace
  font-size: 0;
  .images {
    width: 100%;
    a {
      display: none;
      img {
        width: 100%;
        height: 200px;
      }
      &:nth-child(1) {
          display: inline;
        }
    }
  }
  // .slider-image {
  //   background: url('images/bike-photo1.jpg');
  //   background-size: cover;
  //   min-height: 300px;
  //   display: none;
  //   width: 100%;
  //   &:nth-child(2) {
  //     display: block;
  //   }
  // }
}
.say_hello {
  display:none;
}

.contact {
  text-align: center;
  font-family: $primary_font;
  padding: 1rem;

  p:nth-child(2) {
    font-weight: bold;
    font-size: 1.3rem;
  }

  p:nth-child(3) {
      font-weight: bold;
      font-size: 1.3rem;
    }
  }

footer {
  text-align: center;
  font-family: Helvetica;
  background-color: #92A477;
  padding: 2rem;
  font-size: 1.2rem;
}

@import 'slider';
